# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
*.exe
*.dll
*.pdb

# IDE / Editor
.idea/
.vscode/

# Node / Angular
TourPlanner.Frontend/tour-planner-app/node_modules/
TourPlanner.Frontend/tour-planner-app/dist/
TourPlanner.Frontend/tour-planner-app/.angular/

# Logs / Databases
*.log
*.db
*.sqlite
*.sqlite3

# OS / Misc
.DS_Store
Thumbs.db

# Lokale Secrets - niemals committen
**/appsettings.Development.json
**/appsettings.Local.json